@page "/About"

<h3>About</h3>
<hr />

<p>
    The wheather is provided by the OpenWeatherMap.org API.
    <br />
    The cities are provided by the API-Ninjas.com API.
</p>

<p>.NET MAUI Blazor app developed by CINEL trainee Dário Dias.</p>

<p>v1.0.0 - Nov 2023</p>

@code {

}
