@page "/About"

<h3>About</h3>
<hr />

<p>
    The wheather is provided by <a href="openweathermap.org">OpenWeatherMap.org</a>.
</p>

<p>
    The cities are provided by <a href="api-ninjas.com">API-Ninjas.com</a>.
</p>

<br />

<p>.NET MAUI Blazor app developed by CINEL trainee Dário Dias.</p>

<p>v1.0.0 - Nov 2023</p>

@code {

}
