@page "/WeatherInfo"

<h3>The Weather</h3>
<hr />

<h5>Temperature and sensation</h5>
<p>
    These are the relevant temperature informations,
    given in Celsius degrees (ºC) and Farenheit degrees (ºF).
</p>

<h5>Miscellaneous</h5>
<p>
    Cloud coverage is the percentage of cloudiness.
    <br />
    Humidity is the percentage of water vapor saturation in the air.
    <br />
    Air pressure is the atmospheric pressure,
    meaning the weight of the atmosphere at the given surface location.
</p>

<h5>Wind</h5>
<p>
    The wind speed is given in kilometres per hour and miles per hour.
    <br />
    The wind direction is the direction from where the wind blows,
    and it's rounded to the nearest 8th of the compass rose.
</p>

<h5>Hours of light</h5>
<p>
    Hours of light, sunrise and sunset are given at the local time.
</p>

@code {

}
